<%- include('./base/header.ejs') %>
<div class="container my-3">
    <div class="alert bg-warning">
        <h3 class="text-center" >All Records</h3>
    </div>
</div>
<div class="container">
    <table class=" table text-center">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <% if(data){ %>
               <% for ( var i=0; i<data.length; i++ ){ %> 
                                                                  
            <tr>
                <td><%= data[i].name %></td>
                <td><%= data[i].city %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].phone %></td>

            </tr>
            <% } %>
            <% } %>
        </tbody>
    </table>
</div>
<%- include('./base/footer.ejs') %>